@model Cotacao

@{
    ViewData["Title"] = "Apagar Registro";
}

<h1>Delete</h1>

<h3>Você tem certeza que quer apagar este registro?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoedaOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoedaOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoedaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoedaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class = "col-sm-2">
            <label for="Campo">Dia da cotação</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Day)
        </dd>
        <dt class = "col-sm-2">
            <label for="Campo">Mês da cotação</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Month)
        </dd>
        <dt class = "col-sm-2">
            <label for="Campo">Ano da cotação</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Year)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CotacaoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
