@model Cotacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoedaOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoedaOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoedaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoedaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CotacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
